html, body {
	  		background-color: #ffffff;
	  		color: #333 ;
	  		text-align: center;
		}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { 
	color: #333 
}


@font-face {
	font-family:new_media;
	src: url(../fonts/NewMedia.ttf);
}


h1 {
	font-family:new_media;
	font-size: 64px;
}

h2 {
	font-family:new_media;
	font-size: 46px;
}

h4 {
	font-family:new_media;
	font-size: 30px;
}

a {
	font-family:new_media;
	font-size: 20px;
}

p {
	font-family:new_media;
	font-size: 20px;

}

#content {
	width: 500px;
	height: 500px;
}



