html, body {
	  		background-color: #ffffff;
	  		color: #333;
	  		text-align: center;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { 
	color: #333; 
}

#result {
	background-color: #A6ABA8;
}

#app {
	background-color: #A6ABA8;
}

#nyt {
	background-color: #A6ABA8;
}

#guardSearch {
	background-color: #A6ABA8;
}

#nytSearch {
	background-color: #A6ABA8;
}

#blog {
	width: 500px;
}

#title {
	font-family:new_media;
	font-size: 40px;
}




@font-face {
	font-family:new_media;
	src: url(../fonts/NewMedia.ttf);
}


h1 {
	font-family:new_media;
	font-size: 80px;
	color: #7c7c7c;
}	

h2 {
	font-family:new_media;
	font-size: 46px;
}

h3 {
	font-family:new_media;
	font-size: 40px;

}

h4 {
	font-family:new_media;
	font-size: 30px;
}

a {
	font-family:new_media;
	font-size: 18px;
}

p {
	font-family:new_media;
	font-size: 24px;

}

table, th, td {
	border: 1px;
}






